@charset "utf-8";
/*pc버전*/

/*header*/
#header{width: 100%; position:fixed; background:white; z-index:1;}
#header_inner{width: 1280px;margin:0 auto;}

/*headertop*/
.header_top{overflow:hidden;}
.logo{float:left; margin-right:198px;}
.logo h1 a{display:block; width: 187px; height: 107px; background:url(../images/logo.jpg) no-repeat 50%;}
.header_top form{float:left; padding:32px 0;}
.header_top form legend{text-indent:-9999px; font-size:0;}
.header_top form fieldset{float:left; width: 513px; height: 44px;border: 2px solid #0361ab; box-sizing:border-box; overflow:hidden; padding-left:36px;}
.header_top form legend{float:left;}
.header_top form input,
.header_top form button{height:100%; border:0 none;}
.header_top form input{width:calc(100% - 78px); float:left;}
.header_top form button{width:42px; float:right; text-indent:-9999px; background:url(../images/icon_search_main_2.png) no-repeat 50%; cursor:pointer;}
.hd_top_icon{float:right; padding:27px 0; box-sizing:border-box;}
.hd_top_icon ul{overflow:hidden;}
.hd_top_icon ul li{float:left; margin-left:17px;}
.hd_top_icon ul li a{display:block; font-size:15px; font-weight:400;}
.hd_top_icon ul li a:before{content:"";display:block; width:24px;height:24px; margin:0 auto 9px; background:url(../images/spr_icon.png) no-repeat;}
.hd_top_icon li.icon_login a:before{background-position:0 0;}
.hd_top_icon li.icon_sign a:before{background-position:-26px 0;}

/*mainmenu*/
.menu_wrap{background:#0162b1;}
.menus{width: 1280px; margin:0 auto;}
.main_menu{overflow:hidden; position:relative;}
.main_menu ul{overflow:hidden; padding-right:60px;}
.main_menu ul li{float: left; line-height:59px; width:16.666%; box-sizing:border-box; border-right: 1px solid #4284a7;}
.main_menu ul li:hover{background:#fff; color:#0162b1;}
.main_menu ul li:hover{background:#fff; color:#0162b1;}
.main_menu ul li:hover a{color:#0162b1;}
.main_menu ul li a{display:block;text-align:center; font-weight:bold; font-size: 19px;color:#f9faf2;}
.main_menu .toggle_menu{width: 60px;height: 59px; background:#0a3e78; position:absolute; right:0; top:0; cursor:pointer;}
.toggle_menu div{width:35px;height:4px; border-radius:2px;background:#fffefc;position:absolute;left:14px; transition:0.3s;}
.toggle_menu .bar1{top:20px;}
.toggle_menu .bar2{width:27px;top:28px;left:22px;}
.toggle_menu .bar3{top:36px;}
.toggle_menu.open .bar1{top:50%;left:50%;transform:translate(-50%,-50%) rotate(45deg);}
.toggle_menu.open .bar2{opacity:0;}
.toggle_menu.open .bar3{top:50%;left:50%;transform:translate(-50%,-50%) rotate(-45deg);}

/*submenu*/
.sub_menu{width: 1280px; border:1px solid #0062b1; border-radius:0 0 20px 20px; display:none; background:#fff; position:absolute;}
.s_menu{padding:16px 60px 24px 0; overflow:hidden;}
.s_menu>li{width:16.666%;float:left;}
.s_menu li a{font-size:16px; font-weight:bold; text-align:center; position:relative;letter-spacing:-2px;}
.s_menu li a:before{content:''; display:block; position:absolute; left:-10px; top:50%; transform:translateY(-50%); width: 3px; height: 3px; background:#0162b1;}
.s_menu_detail li{padding: 5px 20px;}
.s_menu_detail li:hover a{color:#0162b1;}

/*container*/
#container{padding-top:166px;}
/*공통*/
.section{padding:87px 0;}
/*mainslider*/
.visual{position:relative;}
.slider_move{background:rgba(130,182,221,0.3); position:absolute; bottom:0; left:0;right:0;}
.slider_menu{width: 1280px;margin:0 auto; padding:20px 0;}
.slider_menu ul{overflow:hidden; margin:0 -12px;}
.slider_menu ul li{width:33%; padding:0 12px; box-sizing:border-box; float:left;}
.slider_menu ul li a{display:block; overflow:hidden; background:#f6fafd; border-radius:24px;}
.slider_menu ul li a:hover{background:#1670b8; color:#fafcfd;}
.sl_me_txt{width: 296px; padding:20px 17px; float:left;}
.sl_me_img{width: 50px;height: 50px;float:left; padding-top:24px;}
.sl_me_txt p{font-weight:bold; margin-bottom:7px; font-size:16px; color:#6c7071; letter-spacing:-2px;}
.sl_me_txt .sl_txt_title{font-size:21px; color:#0062bb;}

/*notice*/
.con_notice{width: 1280px; margin:0 auto;}
.notice_top{overflow:hidden;border-bottom:2px solid #eee;}
.notice_bottom{overflow:hidden;}
.notice_top div, .notice_bottom div{float:left;}
.notice_title{padding:27px 30px; width: 190px;}
.notice_title p{font-size:24px; font-weight:bold; color:#303539; border-right:1px solid #313131;padding-right:30px;}
.notice_body{padding:30px; width: 890px; box-sizing:border-box;}
.notice_body span{font-size:14px;position:relative;padding-left:7px;}
.notice_body.nt_top_body span{width: 400px; margin-right:45px;}
.notice_body span:before{position:absolute; left:0; top:9px; width:2px; height:2px; background:#333; content:'';}
.notice_util{padding:30px 0; width: 130px; box-sizing:border-box;}
.notice_util p{font-weight:bold;}
.notice_util p span{padding-left:40px;}
.notice_util p a{width: 80px; height: 40px;border:2px solid #232323;border-radius:25px;padding:10px;}

/*policy*/
.con_poli_wrap{background:#f3f4f8;}
.con_policy{width: 1280px; margin:0 auto; padding-top:80px;}
.con_poli_title{ padding-bottom:60px;}
.con_poli_title h3{text-align:center; font-size:28px; font-weight:bold;}
.con_poli_title h3 span{font-size:32px;color:#045aad;}
.con_poli_body{overflow:hidden;padding-bottom:105px;}
.con_poli_body .poli_body_left{width: 917px; float:left; margin-right:24px;}
.poli_body_left .left_list_title{margin-bottom:11px;}
.poli_body_left .left_list_title ul:after{content:'';display:block;clear:both;}
.poli_body_left .left_list_title ul li{float:left; width:calc(20% - 6px); height: 55px; border:1px solid #e4e3e8;margin-right:6px; box-sizing:border-box; background:#fff;position:relative;}

.poli_body_left .left_list_title ul li:hover:before{content:'';border-width:20px;border-style:solid; border-color: #0162b1 transparent transparent transparent; position:absolute; bottom:-30px; left:50%; transform:translateX(-50%);}
.poli_body_left .left_list_title ul li:hover a{background:#0162b1; color:#fff;}
.poli_body_left .left_list_title ul li a{display:block; text-align:center;line-height:55px; color:#737373; font-weight:bold;}
.poli_body_left .left_list_body{position:relative;}
.poli_body_left .left_list_body ul{overflow:hidden;}
.poli_body_left .left_list_body ul li{float:left; box-sizing:border-box; width:calc(33.33% - 12px); height: 175px;background:#444 url(../images/icon_policy01_bg.png) no-repeat center;margin-right:12px;margin-bottom:10px; padding: 25px 25px;}
.poli_body_left .left_list_body ul li:hover{background:#fff; border:2px dotted #0060a4;}
.poli_body_left .left_list_body ul li:hover a h3{color:#5e5e5e;text-overflow:ellipsis; padding-bottom:10px; font-size:15px;}
.poli_body_left .left_list_body ul li:hover a p{color:#c0c0c0;font-size:12px;line-height:20px}
.poli_body_left .left_list_body ul li:hover a:before{content:'';width: 120px;height: 150px;float:left;display:block;background:url(../images/icon_policy01.png) no-repeat center; }
.poli_body_left .left_list_body ul li a{display:block; color:#fff; font-weight:bold; text-align:center;}
.left_list_body ul li a h3{font-size:20px; padding-bottom:24px;}
.left_list_body ul li a p{font-size:15px; line-height:20px;}
.con_poli_body .poli_body_right{width: 339px; float:right;}
.poli_body_right .right_slider{margin-bottom:19px;}
.poli_body_right .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {position: absolute; bottom: 25px; width: 100%;}
.poli_body_right .policy_rank{padding:20px 19px; border:2px solid #0263b0;}
.policy_rank .rank_title{border-bottom:1px solid #c8c8c8;}
.rank_title h4{padding-bottom:21px;font-size:18px; font-weight:bold;}
.rank_title h4 span.font_color{color:#047bd7;}
.rank_title h4 span.font_date{font-size:14px;margin-left:80px;}
.policy_rank .rank_body{padding-top:34px;}
.rank_body p{padding-left:10px;margin-bottom:20px; font-size:14px; position:relative;}
.rank_body p.active{font-weight:bold;}
.rank_body p span{display:inline-block;width:10px; height: 2px; background:#919191; position:absolute; right:10px; margin:6px 0;}
.rank_body p span.up{background:none; width:0; margin:-1px 0; border-width:5px;border-style:solid; border-color:transparent transparent #fa0004 transparent;}
.rank_body p span.down{background:none; width:0; margin:7px 0; border-width:5px;border-style:solid; border-color: #0469bb transparent transparent transparent;}

/*place*/
.con_place{width: 1280px; margin:0 auto; padding-top:80px;}
.con_place .con_place_title{padding-bottom:98px;position:relative;}
.con_place_title h3{text-align:center; font-size:28px; font-weight:bold;}
.con_place_title h3 span{font-size:32px;color:#32735b;}
.con_place_title .notice_util.place_util{position:absolute; bottom:0; right:0;}
.con_place .con_place_body{overflow:hidden; padding-bottom:130px;}
.con_place_body .place_body_left{float:left;width: 780px;position:relative;}
.place_body_left .place_slide li a{display:block;}
.place_body_left .place_slide ul{overflow:hidden;}
.place_body_left .place_slide li.slide_content{float:left;width:calc(50% - 10px);margin-right:10px;margin-bottom:10px; overflow:hidden;border:1px solid #cbccd0; box-sizing:border-box;}
.place_slide li.slide_content .img_box{width: 180px;height: 192px;float:left;position:relative;}
.img_box span.img_title{display:inline-block; width: 100%;line-height: 39px;background:rgba(72,73,75,0.8); color:#fff; text-align:center; font-weight:bold;}
.img_box span.img_place{position:absolute;width: 60px; height: 60px; padding-top:13px;right: 0; top: 39px; color:#fff; text-align:center; font-weight:bold; background:#096649; box-sizing:border-box;}
.img_box span.img_place:before{}
.slide_content .img_box.img_one{background:url(../images/place_slide01.jpg) no-repeat center;}
.slide_content .img_box.img_two{background:url(../images/place_slide02.jpg) no-repeat center;}
.slide_content .img_box.img_three{background:url(../images/place_slide03.jpg) no-repeat center;}
.slide_content .img_box.img_four{background:url(../images/place_slide04.jpg) no-repeat center;}
.place_slide li.slide_content .txt_box{float:left; width: 197px; height:192px;background:#f3f4f8;padding:15px 10px;box-sizing:border-box;}
li.slide_content .txt_box p{font-size:12px;font-weight:bold;color:#646567;box-sizing:border-box;}
.txt_box span{display:block;padding-bottom:19px;font-size:15px;color:#27282a;}
.place_prev_btn,.place_next_btn{position:absolute; top:50%; transform:translateY(-50%);}
.place_next_btn{right:10px;}
.con_place_body .place_body_right{float:left;width: 500px; height:408px;}
.place_body_right .place_map_title{margin-bottom:11px;}
.place_body_right .place_map_title ul:after{content:''; display:block; clear:both;}
.place_body_right .place_map_title ul li{float:left; width:calc(50% - 6px);height: 55px; border:1px solid #e4e3e8; border-radius:2px; box-sizing:border-box; background:#fff; position:relative;}
.place_body_right .place_map_title ul li:hover:before{content:'';border-width:20px;border-style:solid; border-color: #2c7c61 transparent transparent transparent; position:absolute; bottom:-30px; left:50%; transform:translateX(-50%);}
.place_body_right .place_map_title ul li a{display:block; text-align:center;line-height:55px; color:#737373; font-weight:bold;}
.place_body_right .place_map_title ul li:hover a{background:#2c7c61; color:#fff;}
.place_body_right .place_map_body{border:1px dotted #2c7c61;width: 100%; height:332px; box-sizing:border-box;background:url(../images/map_none.png) no-repeat center; background-size:contain;position:relative;}
.place_map_body .place_map_txt{position:absolute;top:14px;left:11px;font-size:9px;color:#4e5d60;line-height:14px;}
.place_map_body .place_map_txt span{font-weight:bold;color:#292836;}

/*consult*/
.con_consult_wrap{background:#f3f4f8;}
.con_consult{width: 1280px; margin:0 auto; padding-top:80px;}
.consult_title h3{text-align:center; font-size:28px; font-weight:bold;}
.consult_title h3 span{font-size:32px; color:#18295d;}
.consult_body{padding:55px 0;}
.consult_body ul{overflow:hidden;}
.consult_body ul li{float:left; width:calc(19%);}
.consult_body ul li.notice{width:calc(40%);}
.consult_body .consult_box{background:#fff;border:1px solid #cdcdcf;box-sizing:border-box;text-align:center; margin-right:20px; height: 300px;}
.consult_box .consult_box_title{padding:30px 25px;border-bottom:1px solid #cdcdcf;}
.consult_box .consult_box_title.notice{text-align:left; position:relative;}
.consult_box_title.notice .consult_box_plus{position:absolute; bottom:30px; right:13px;}
.consult_box_plus a{width: 80px;height: 40px;border: 2px solid #232323;border-radius: 25px; padding: 10px;}
.consult_box .consult_box_title h4{font-size:22px; font-weight:bold;}
.consult_box_body{padding:10px 0; margin-top:21px;}
.consult_box_body.notice{text-align:left;}
.consult_box_body.kakao:after{content:'';display:block; width: 100px; height: 100px; background:url(../images/talk_coun1.png) no-repeat center;background-size:contain; margin:0 auto; padding-top:10px;}
.consult_box_body.call:after{content:'';display:block; width: 100px; height: 100px; background:url(../images/call_coun1.png) no-repeat center;background-size:contain; margin:0 auto; padding-top:10px;}
.consult_box_body.write:after{content:'';display:block; width: 100px; height: 100px; background:url(../images/img_coun02.png) no-repeat center;background-size:contain; margin:0 auto; padding-top:10px;}
.consult_box_body p{padding:4px 0; color:#4e5d60; font-size:14px;}
.consult_box_body p.point{font-weight:bold; color:#292836;}
.consult_box_body p.hide{text-indent:-9999px;}
.consult_box_body.notice{padding:30px 20px; margin-top:0;}
.consult_box_body.notice .box_body_txt{position:relative;margin-bottom:12px;}
.consult_box_body.notice p{display:inline-block;padding-left:10px;width: 350px; height: 14px;}
.consult_box_body.notice p a{display:inline-block;overflow:hidden; text-overflow:ellipsis; height: 14px;}
.consult_box_body.notice p:before{content:''; position:absolute; left:2px; top:10px; width:2px; height:2px; background:#333;}
.consult_box_body.notice span{position:absolute; right: 0;bottom:3px;}
.consult_box_body.notice span.point{font-weight:bold; color:#292836;}

/*footer*/
#footer_wrap{background:#444444;padding-top:40px;}
#footer{width: 1280px; margin:0 auto; padding-bottom:45px;}
#footer>ul{overflow:hidden;}
#footer>ul>li{float:left;margin-right:30px; color:#fff;}
#footer ul li h1{width: 188px; height: 32px;background:url(../images/logo_footer.png) no-repeat center; text-indent:-9999px;}
li.contact{width: 180px;}
li.contact h3{font-size:22px; font-weight:bold; line-height:32px;margin-bottom:25px;}
li.contact p{font-size:12px; margin-bottom:20px; line-height:16px; color:#a4a3b3;}
.f_sns h3{font-size:22px; font-weight:bold; line-height:32px;margin-bottom:25px;}
.f_sns ul{overflow:hidden;}
.f_sns li{float:left; margin-right: 5px;}
.f_sns li a{display:block; width: 39px; height: 38px; text-indent:-9999px;}
.f_sns li.blog a{background:url(../images/sns01.png) no-repeat center;}
.f_sns li.insta a{background:url(../images/sns02.png) no-repeat center;}
.f_sns li.yutube a{background:url(../images/sns03.png) no-repeat center;}
.f_sns li.facebook a{background:url(../images/sns04.png) no-repeat center;}
.f_menu p{font-size:14px; font-weight:bold; line-height:32px;}
.link_site h3{font-size:20px; font-weight:bold;margin-bottom:25px;line-height:32px;}
.link_site .select_box{width:305px;	border:1px solid #777777;box-sizing:border-box;cursor:pointer;}
.link_site .select_box p{position:relative;font-weight:bold;padding:12px 15px;}
.link_site .select_box p:after{content:''; display:block;width: 3px;height: 3px;border-width:5px;border-style:solid; border-color: #fff transparent transparent transparent; position:absolute;right: 20px; top:17px;}
.select_box>ul{display:none;}
.select_box>ul.open{display:block;}
.select_box>ul>li{width:305px;	border:1px solid #777777;padding:12px 15px;box-sizing:border-box;}
.select_box>ul>li>a{color:white; font-weight:bold;}
#footer>ul>li.f_mark{width: 131px; height: 91px; background:url(../images/foot_wamark2020.png) no-repeat center; text-indent:-9999px;margin-right:0;}
.mr-6{margin-right:6px;}