@charset "utf-8";
.topNav{background: #333;}
.topNav a{display:block; float:left; color:white; padding:14px 16px;}
.topNav a.toggle{float:right;}
.topNav a.toggle{display:none;}

@media screen and (max-width:576px){ /*mobile*/
	.menuWrap{width: 100%; position:fixed;}
	/*.topNav a{display:none;}
	.topNav a:first-child{display:block;}*/
	.topNav a:not(:first-child){display:none;}
	.topNav a.toggle{display:block;}
	.topNav.responsive a{float:none; display:block;}
	.topNav.responsive a.toggle{position:absolute; top:0; right:0;}
}

@media screen and (min-width:577px) and (max-width:922px){  /*tablet*/
	.menuWrap{width: 100%;}
}

@media screen and (min-width:923px){  /*pc*/
	.menuWrap{width: 1200px;position:fixed; left:50%; transform:translateX(-50%);}
}