@charset "utf-8";
#wrap{min-width:320px;}
/* header */
#header{background:#fff;}
.header_inner{width: 1200px; margin:0 auto; padding-top:16px;}
.logo{padding-bottom:45px;text-align:center;}
/* gnb */
.gnb ul{overflow:hidden;}
.gnb ul li{float:left; width:16.666%;}
.gnb ul li a{display:block; height:45px; text-align:center; font-size:18px; position:relative; box-sizing:border-box;}
.gnb ul li a:hover{border-bottom:3px solid #ff661b; color:#ff661b;}
.gnb ul li a:before{content:''; display:inline-block; width:2px; height:14px; background:#8f8f8f; position:absolute; left:0; top:5px;}
.gnb ul li:first-child a:before{display:none;}
.gnb .btn_gnb_on{display:none;}

/* // gnb */
/* // header */

/* container */
/* 공통 */
.section{padding:50px 0;}
.section_inner{width:1200px; margin:0 auto;}
.section_inner.after:after{content:'';display:block;clear:both;}
.bg_img{background:url(../images/bg_visual.jpg) no-repeat center;background-size: cover;}
.bg{background:#fffee5;}
.title_type_a h3{font-size:30px; padding-bottom:15px;}
.title_type_b{text-align:center;}
.title_type_b h3{font-size:36px; padding-bottom:18px; position:relative;color:#fff;}
.title_type_b h3:after{content:''; display:block; height: 1px; width: 40px; position:absolute; left:50%; bottom:0; transform:translateX(-50%); background:#fff;}
.title_type_b p{padding-top:20px; font-size:16px; font-weight:500; color:#fff;}
.slider_inner li .product_box{position:relative; background:#fff;}
.slider_inner li .product_box .img_box{text-align:center;font-size:0;}
.slider_inner .product_box:hover .overlay{top:0; opacity:1;}
.slider_inner .overlay{position:absolute; top:100%; width: 100%; height: 100%;background:rgba(255,0,0,0.3) url(../images/bg_view.png) no-repeat center; box-sizing:border-box; opacity:0; transition:0.5s;padding:10px;}
.overlay a{display:block; height: 100%;}
.overlay a:hover{border: 1px solid #fff;}
.img_box img{max-width:100%; max-height:100%;}
/* //공통 */
/* 메인슬라이드 */
.main_banner img{width:100%;}
/* //메인슬라이드 */
/* section_company */
.section_company ul{overflow:hidden; margin-left:-15px;}
.section_company ul li{float:left;width:calc(25% - 15px);margin-left:15px; background-size:cover; background-repeat:no-repeat; background-position:center; box-sizing:border-box;}
.section_company ul li:last-child{margin-right:0;}
.section_company ul li.mall{background:url(../images/img_company_01.jpg) no-repeat center;}
.section_company ul li.share{background:url(../images/img_company_02.jpg) no-repeat center;}
.section_company ul li.future{background:url(../images/img_company_03.jpg) no-repeat center;}
.section_company ul li.nature{background:url(../images/img_company_04.jpg) no-repeat center;}
.section_company ul li .inner{display:table; width:100%;}
.section_company ul li a{display:table-cell;vertical-align:middle; height:290px; text-align:center; color:#fff;}
.section_company ul li a h4{font-size:28px; font-weight:bold;}
.section_company ul li a p{font-size:20px; padding-top:8px;}
.section_company ul li a span{font-size:12px; font-weight:bold;}
/* // section_company*/

/* section_news */
.section_news{overflow:hidden;}
.section_news .title_type_a{width:25%; float:left;}
.section_news .title_type_a p a{display:block; color:#f00; font-size:14px; text-indent:75px;}
.section_news ul{float:left; width: 75%;margin:0 -7px;}
.section_news ul li{float:left; width:33.33%; padding:0 7px; box-sizing:border-box;}
.section_news ul li a{display:block;}
.section_news ul li a h4{font-size:18px; height:50px; line-height:25px; padding:0 3px; margin-bottom:20px; overflow:hidden;}
.section_news ul li a p{font-size:14px; height:114px; line-height:19px; padding:0 3px; margin-bottom:40px; color:#666; overflow:hidden;}
.section_news ul .date{font-size:14px; color:#666;}
/* // section_news */

/* section_event */
.section_event{float:left; width:50%;}
.event_banner img{width:100%;}
/* // section_event */

/* section_new */
.section_new{float:left; width:50%; overflow:hidden;}
.section_new .new_goods{float:left; width: 50%; height:369px; background:#f2f2f2;}
.new_slider li a{display:block; height:100%;}
.new_slider li p{font-size:18px; text-align:center; color:#666; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-top:-15px; padding:0 33px;}
.new_slider li .icon{position:absolute; width: 40px; line-height: 40px; background:#f00; top:20px;right:20px; text-align:center; color:#fff; font-size:14px; font-weight:bold; border-radius:20px;}
.section_new .new_source{float:left; width: 50%; height: 369px; position:relative; border:1px solid #e1e1e1; box-sizing:border-box;}
.new_source a{display:block; height: 100%;}
.new_source .icon{position:absolute; width: 40px; line-height: 40px; background:#f00; top:20px; right:20px; text-align:center; color:#fff; font-size:14px; font-weight:bold; border-radius:20px;}
.new_source .txt{margin-top:-15px; padding:0 15px; color:#666; text-align:center;}
.txt p{font-size:18px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.txt .detail{display:block; font-size:14px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

/* // section_new */

/* section_hot */
.hot_prd_wrap{padding:25px 40px; position:relative;}
.hot_prd_wrap .swiper-container{position:static;}
.hot_prd_wrap .swiper-button-prev,
.hot_prd_wrap .swiper-button-next{width: 40px; height: 80px; background-color:transparent;}
.hot_prd_wrap .swiper-button-prev:after,
.hot_prd_wrap .swiper-button-next:after{display:none;}
.hot_prd_wrap .swiper-button-prev{background:url(../images/hot_prev.png) no-repeat center; left:-15px;}
.hot_prd_wrap .swiper-button-next{background:url(../images/hot_next.png) no-repeat center; right:-15px;}
.slider_inner li{float:left; padding:0 7px; box-sizing:border-box;}
.slider_inner li .product_box{position:relative; background:#fff; border:1px solid #e1e1e1;}
.slider_inner .img{padding-bottom:10px;}
.slider_inner .prd_txt{text-align:center; padding:9px 0; border-top:1px solid #e1e1e1; position:relative;}
.slider_inner .prd_txt:before{content:'';display:block; width: 17px;height: 9px; background:url(../images/up_icon.png); position:absolute; top:-9px; left:50%; transform:translateX(-50%);}
.prd_txt p{font-size:18px; padding:0 5px; padding-bottom:15px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#666;}
.prd_txt span{font-size:14px; color:#666;}
/* // section_hot */

/* section_cook */
.section_cook .title_type_b h3{color:#333;}
.section_cook .title_type_b h3:after{background:#ff661b;}
.section_cook .title_type_b p{color:#333;}
.cook_prd_wrap{padding:25px 20px; position:relative;}
.cook_prd_wrap .swiper-container{position:static;}
.cook_prd_wrap .swiper-button-prev,
.cook_prd_wrap .swiper-button-next{position:absolute; top:50%; width: 20px; height: 36px; transform:translateY(-50%); cursor:pointer;}
.cook_prd_wrap .swiper-button-prev:after,
.cook_prd_wrap .swiper-button-next:after{display:none;}
.cook_prd_wrap .swiper-button-prev{background:url(../images/cook_prev.png) no-repeat center; left:-15px;}
.cook_prd_wrap .swiper-button-next{background:url(../images/cook_next.png) no-repeat center; right:-15px;}

/* // section_cook */

/* middle_banner */
.middle_banner{height: 535px;background:url(../images/middle_banner.jpg) no-repeat center;background-size:cover;}
/* // middle_banner */
/* // container */

/* footer */
/* 공통 */
.footer_inner{width:1200px; margin:0 auto; overflow:hidden;}
/* // 공통 */
/* f_nav*/
.f_nav_wrap{background:#f7f7f7;border-width:1px 0; border-style:solid; border-color:#e4e4e4;}
.f_menu{float:left;}
.f_menu ul{overflow:hidden;}
.f_menu ul li{float:left; margin-right:30px; padding:26px 0;}
.f_menu ul li.active a{font-weight:600;}
.f_menu ul li a{display:block;font-size:16px;}
.f_sns{float:right;}
.f_sns ul{overflow:hidden;padding:15px 0;}
.f_sns ul li{float:left; margin-left:10px;}
.f_sns ul li a{display:block; width: 36px; height: 36px; background:url(../images/spr_sns.png) no-repeat; text-indent:-9999px;}
.f_sns ul li.insta a{background-position:0 0;}
.f_sns ul li.blog a{background-position:-38px 0;}
.f_sns ul li.facebook a{background-position:-76px 0;}
.f_sns ul li.yutube a{background-position:-114px 0;}
/* // f_nav*/
/* f_copy */
.f_copy_wrap{padding:30px 0;}
.f_copy{float:left;}
.f_copy p{font-size:13px; margin-bottom:12px;}
.f_mark{float:right; padding:20px 0;}
.f_mark ul{overflow:hidden;}
.f_mark ul li{float:left;}
.f_mark ul li a{display:block;width: 50px; height: 50px; background:url(../images/spr_mark_2x.png) no-repeat 50%; background-size:cover; text-indent:-9999px;}
.f_mark ul li.ssl a{background-position:0 0;}
.f_mark ul li.esc a{background-position:-50px 0;}
.f_mark ul li.ini a{background-position:-100px 0;}
/* // f_copy */
/* // footer */
/* top_scroll */
.top_scroll{width: 50px;height: 50px; position:fixed; bottom: 0; right: 0; background:url(../images/top_scroll.png) center; cursor:pointer;}
/* // top_scroll */
/* 미디어쿼리 */
@media screen and (max-width:1220px){
    #wrap{overflow-x:hidden;}
    .header_inner,
    .section_inner,
    .footer_inner{width:auto;}
}
@media screen and (min-width:768px) and (max-width:1220px){
    .section_company ul li a{height:23.07vw;}
    .section_new .new_goods,
    .section_new .new_source{height:30.2vw;}
}
@media screen and (min-width:768px) and (max-width:980px){
    .section_company ul li a h4{font-size:22px;}
    .section_company ul li a p{font-size:15px;}
}
@media screen and (max-width:768px){
    #header{position:relative;}
    .gnb ul{display:none; position:absolute; left:0; right:0; z-index:10;}
    .gnb ul li{float:none; width:auto;}
    .gnb ul li a{border-bottom:1px solid #fff; height:auto; padding:14px 40px; background:#ff661b; color:#fff;}
    .gnb ul li a:hover{border-bottom-width:1px; background:#fff;}
    .gnb ul li a:hover:after{color:#ff661b;}
    .gnb ul li a:before{display:none;}
    .gnb ul li a:after{position:absolute; font-size:30px; color:#fff; top:50%; content:'＋'; transform:translateY(-56%); font-weight:bold; right:15px;}
    .gnb .btn_gnb{display:block; position:absolute; width:50px; height:50px; background:none; top:10px; left:10px; cursor:pointer;}
    .btn_gnb .line{position:absolute; width:30px; height:3px; background:#ff661b;left:10px;}
    .btn_gnb .line.top{top:15px;}
    .btn_gnb .line.bottom{top:35px;}
    .title_type_a h3{padding:0 15px;}
    .main_slider img{max-width:150%; position:relative; left:50%; width:auto; transform:translateX(-50%);}
    .swiper-slide-active{z-index:1;}
    .hot_prd_wrap .swiper-button-prev,
    .hot_prd_wrap .swiper-button-next,
    .cook_prd_wrap .swiper-button-prev,
    .cook_prd_wrap .swiper-button-next{display:none;}
    .section_news .title_type_a{width:50%; text-align:center;}
    .section_news ul{width:50%;}
    .section_news ul li{width:100%;}
    .section_news ul li:nth-child(n+2){display:none;}
    .section_company ul{margin-left:0;}
    .section_company ul li{width:calc(50% - 10px); margin:5px;}
    .section_company ul li a{height:48vw;}
    .section_event,
    .section_new{float:none; width:auto;}
    .section_new{margin-top:50px;}
    .section_new .new_goods,
    .section_new .new_source{height:62vw;}
    .middle_banner{display:none;}
}
@media screen and (max-width:380px){
    .section_company ul li a h4{font-size:22px;}
    .section_company ul li a p{font-size:15px;}
}