@charset "utf-8";
/*header*/
.hWrap{
	width: 1100px; height: 80px; margin: auto;position: relative;
	margin-bottom: 20px;
}
.hWrap>.logo{width: 200px; padding: 15px 0;}
.hWrap li{
	float: left; position: absolute; right: 0;
	top: 50%; margin-top: -10.5px;
}
.hWrap li:nth-child(1){
	right: 235px;
}
.hWrap li:nth-child(2){
	right: 130px;
}
.hWrap li:nth-child(3){
	right: 0;
}
.hWrap li a{color:#504f5f;}
.hWrap li:hover a{color:#202344; font-weight: bolder;}

/*visual*/
.visualWrap{
	width: 1100px; height: 700px; margin: auto; position: relative;
	margin-bottom: 50px;
}
.visualWrap .visual{position: absolute; top: 0; left: -400px;}
.visualWrap p{
	position: absolute; top: 180px; font-size: 3em; font-weight: bolder;
	color:#202543;
}	
.visualWrap a{
	position: absolute; top: 450px; left: 0; 
	text-align: center; line-height: 50px;
	width: 265px; height: 50px; color:white;
	background: #444daa;
}

/*contentOne*/
.container h3{
	text-align: center;font-size:2.3em; margin-bottom: 50px;
	color:#202543;
}
.container p{
	text-align: center; color:#504f5f; margin-bottom: 30px;
}
.contentOne{width: 1100px; margin: auto; margin-bottom: 50px;}
.contentOne>ul>li{float:left; width: 300px; margin-right: 100px;}
.contentOne>ul>li:last-child{margin-right: 0;}
.contentOne>ul>li>a>p.conTitle{
	font-size: 1.5em; font-weight: bold; color:#202543;
}

/*contentTwo*/
.contentTwo{
	width: 1100px; margin: auto; margin-bottom: 50px;
}
.contentTwo>p{margin-bottom: 50px;}
.contentTwo .conAni>li{
	 float: left; margin-right: 100px;
}
.contentTwo .conAni>li:last-child{margin-right: 0;}
.contentTwo .conAni>li>a{display: block;height: 350px; position: relative;}
.contentTwo .conAni h4{
	position: absolute; left: 20px; top: 220px;
	font-size: 2em; color:white;
}
.conAni .aniTxt{position: relative;height: 150px;}
.conAni .aniTxt p {
	text-align: left; color:##202543; padding: 0 10px;
}
.aniTxt .aniTitle {font-weight: bold;}
.aniTxt .aniPrice{
	position: absolute; top: 79px; right: 0;
	color: #ff8751; font-weight: bold;
}
.aniTxt p a{color:#494cad;}

/*contentThree*/
.contentThree{
	width: 1100px; margin: auto; margin-bottom: 50px;
}
.contentThree p{text-align: left;}
/*conThArtOne*/
.contentThree .conThArtOne{margin-bottom: 30px;}
.contentThree .conThImg{float: left; width: 300px; margin-right: 70px;}
.conThTxt .article{ font-size: 1.8em; color:#202543;}
.conThTxt .people:before{
	content:""; float: left; width: 0;
	height: 48px; border-right: 2px solid #444da8;
	margin-right: 5px; margin-top: 7px;
}
.conThTxt .name{font-size: 1.8em; color: #202543;}
/*conThArtTwo*/
.conThArtTwo{ height: 316px; margin-bottom: 30px;}
.conThArtTwo .conThTxt{float: left; margin-right: 70px;}
.conTHArtTwo .conThImg{float: right;}
/*conThArtThree*/
.conThArtThree{
	width: 1100px; margin: auto;
}
.conThArtThree h3,
.conThArtThree p{text-align: left;}
.conThArtThree p{font-weight: bolder;}
.conThArtThree .conThImgThree,
.conThArtThree .conTxtWrap{
	float: left;
}
.conThArtThree .conThImgThree{
	margin-right: 150px;
}
.conThArtThree .conTxtWrap{
	width: 550px;
}
.btnWrap{position: relative;}
.btnWrap .btn{
	position: absolute; top: 15px; left: 0; 
	text-align: center; line-height: 50px;
	width: 265px; height: 50px; color:white;
	background: #444daa;
}

/*contentfour*/
.contentFour{width: 1100px; margin: auto; margin-bottom: 50px;}
.contentFour p{text-align: left;}
.contentFour ul li{
	float: left; margin-right: 100px; width: 500px;
}
.contentFour ul li:nth-child(2){margin-right: 0;}
.contentFour ul li:nth-child(4){margin-right: 0;}
.contentFour ul li .txtCap{font-size: 1.2em; font-weight: bolder;}

/*페이스북 배경색:#444daa;*/